In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import seaborn as sns

In [2]:
df=pd.read_csv('buy2.csv')

In [3]:
df.head()

,Emission_Norm,Engine_Malfunction_Light,Number_of_Airbags,Low_Fuel_Warning,Ex-Showroom_Price,Model
0,BS IV,Yes,NaN,Yes,"Rs. 2,92,667",Nano Genx
1,BS IV,Yes,NaN,Yes,"Rs. 2,36,447",Nano Genx
2,BS IV,Yes,NaN,Yes,"Rs. 2,96,661",Nano Genx
3,BS IV,Yes,NaN,Yes,"Rs. 3,34,768",Nano Genx
4,BS IV,Yes,NaN,Yes,"Rs. 2,72,223",Nano Genx

In [4]:
df.isnull().sum()

Emission_Norm                11
Engine_Malfunction_Light    117
Number_of_Airbags           135
Low_Fuel_Warning             36
Ex-Showroom_Price             0
Model                         0
dtype: int64

In [5]:
df['Emission_Norm'].value_counts()

BS IV     879
BS 6      358
BS VI      19
BS III      9
Name: Emission_Norm, dtype: int64

In [6]:
df['Emission_Norm']=df['Emission_Norm'].fillna('BS IV')
df["Emission_Norm"]=np.where(df["Emission_Norm"]==('BS IV'),1,df["Emission_Norm"])
df["Emission_Norm"]=np.where(df["Emission_Norm"]==('BS 6'),2,df["Emission_Norm"])
df["Emission_Norm"]=np.where(df["Emission_Norm"]==('BS VI'),3,df["Emission_Norm"])
df["Emission_Norm"]=np.where(df["Emission_Norm"]==('BS III'),4,df["Emission_Norm"])

In [7]:
df['Engine_Malfunction_Light']=np.where(df["Engine_Malfunction_Light"]==('yes'),1,0)

In [8]:
df['Number_of_Airbags'].value_counts()

2.0     627
6.0     202
8.0      92
7.0      65
1.0      57
4.0      40
9.0      21
3.0      17
10.0     16
14.0      3
5.0       1
Name: Number_of_Airbags, dtype: int64

In [9]:
df['Number_of_Airbags']=df['Number_of_Airbags'].fillna(2.0)

In [10]:
df['Low_Fuel_Warning']=df['Low_Fuel_Warning'].fillna(0)
df['Low_Fuel_Warning']=np.where(df["Low_Fuel_Warning"]==('yes'),1,0)

In [11]:
df['Ex-Showroom_Price'] = df['Ex-Showroom_Price'].str.replace('Rs. ','',regex=False)
df['Ex-Showroom_Price'] = df['Ex-Showroom_Price'].str.replace(',','',regex=False)
df['Ex-Showroom_Price'] = df['Ex-Showroom_Price'].astype(int)
df['price'] = df['Ex-Showroom_Price'] * 0.014
df.drop(columns='Ex-Showroom_Price', inplace= True)

In [12]:
df.head()

,Emission_Norm,Engine_Malfunction_Light,Number_of_Airbags,Low_Fuel_Warning,Model,price
0,1,0,2.0,0,Nano Genx,4097.338
1,1,0,2.0,0,Nano Genx,3310.258
2,1,0,2.0,0,Nano Genx,4153.254
3,1,0,2.0,0,Nano Genx,4686.752
4,1,0,2.0,0,Nano Genx,3811.122

In [13]:
df.isnull().sum()

Emission_Norm               0
Engine_Malfunction_Light    0
Number_of_Airbags           0
Low_Fuel_Warning            0
Model                       0
price                       0
dtype: int64

In [14]:
df.describe()

,Engine_Malfunction_Light,Number_of_Airbags,Low_Fuel_Warning,price
count,1276.0,1276.000000,1276.0,1.276000e+03
mean,0.0,3.597962,0.0,6.435153e+04
std,0.0,2.447689,0.0,1.700629e+05
min,0.0,1.000000,0.0,3.310258e+03
25%,0.0,2.000000,0.0,1.041426e+04
50%,0.0,2.000000,0.0,1.484090e+04
75%,0.0,6.000000,0.0,4.171759e+04
max,0.0,14.000000,0.0,2.970176e+06

In [15]:
from sklearn.linear_model import LogisticRegression  
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier  
from sklearn import svm  
from sklearn import metrics 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.linear_model import LinearRegression

In [16]:
train, test = train_test_split(df, test_size = 0.3)
print(train.shape)
print(test.shape)

(893, 6)
(383, 6)

In [18]:
train_X = train[['price','Number_of_Airbags','Engine_Malfunction_Light','Low_Fuel_Warning','Emission_Norm']]
train_y=train.Model
test_X= test[['price','Number_of_Airbags','Engine_Malfunction_Light','Low_Fuel_Warning','Emission_Norm']]
test_y =test.Model

In [19]:
model = svm.SVC() 
model.fit(train_X,train_y) 
prediction=model.predict(test_X)

In [20]:
print('The accuracy of the SVM is:',metrics.accuracy_score(prediction,test_y))

The accuracy of the SVM is: 0.033942558746736295

In [21]:
import pickle
pickle.dump(model, open('buy2.pkl','wb'))